.center-screen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.marker{
    margin-top: -30px;
    z-index: 9999;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
  }

.pin2 {
    margin-top: -30px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #007991;
    width: 10px;
    height: 10px;
}

.pin2::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -10px;
    border: 10px solid transparent;
    border-top: 17px solid #007991;
}


.toggle_pin_button {

    color: white;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}